<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="isden.mois.magellanlauncher">

    <uses-sdk android:minSdkVersion="9" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity android:name=".Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.HOME" />
            </intent-filter>
        </activity>
        <activity
            android:name=".History"
            android:label="@string/history"></activity>
        <activity
            android:name=".Preferences"
            android:label="@string/action_preferences"></activity>
        <activity
            android:name=".IconEditActivity"
            android:label="@string/action_preferences"></activity>
    </application>

</manifest>
